.MenuOptionLink{
    width: 100%;
    cursor: pointer;
    color: rgb(112, 123, 129);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: 'Montserrat';
    line-height: 16px;
    font-weight: 500;
}

.arrow {
    width: 9px;
    height: 15px;
    position: relative;
    justify-self: end;
}

.textOption{
    margin-left: -30px;
    text-align: left;
    max-width: 33.3%;
    display: flex;
}

