
// VARIABLES
$first-screen--background: url('../../Images/jumbotron.png');
$second-screen--image: url('../../Images/hands.png');

// STANDARD CLASSES
%section-major {
	width: 100%;
	height: 100vh;
}

.main {
	width: 100%;
	height: 100vh;
	// background: red;
	
	.jumbotron {
		@extend %section-major;
		background: $first-screen--background;
		background-position: center;
	}

	.first-section {
		width: 100%;
		height: 200vh;
		background: #EFF0F2;
	}

	.second-section {
		width: 100%;
		height: 690px;
		background: #5D41AC;
	}

	.third-section {
		width: 100%;
		height: 717px;
		background: #FF8052;
	}

	.fourth-section {
		width: 100%;
		height: 540px;
		background: #EFF0F2;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.fifth-section {
		width: 100%;
		height: 531px;
		background: #DAE0E3;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer {
		width: 100%;
		height: 213px;
		background: #4E5B61;
		display: flex;
		justify-content: center;
	}
}