
.header{
  height: 90px;
}
.sideBar{
  width: 225px;
  overflow: auto;
  float:left;
  display:block;
}
.content{
  width: 1300px;
  float:left;
  background-color:#DAE0E3;
  display: block;
}
.sideButton{
  padding: 50px, 0;
  height:65px;
  width: 225px;
  display:inline-flex;
  background-color:#FFFFFF;
  border-bottom-style:solid;
  border-bottom-width: 1px;
  border-color:#DAE0E3;
}
.sideButton-active{
  padding: 50px, 0;
  height:65px;
  width: 225px;
  display:inline-flex;
  background-color: #EEF2F4;
  border-color: #707070;
  border-bottom-width: 1px;
  border-color:#DAE0E3;
}

.sideText{
  display:inline;
  width: 115px;
  margin-left:12px;
  font-size: 14px;
  font-family: Helvetica;
  height:32px;
  text-align: left;
  color:#707B81;
  margin:auto auto auto 0;
}

input.hidden{
  display: none;
  visibility:hidden;
  display:block;
  height: 0;
  width:0;
  margin:0;
}

.sideImg{
  margin-left:12px;
  margin-top:14px;
  margin-bottom:18px;
  margin-right:14px;
  padding: 7px;
  height: 17px;
  width:18px;
  border-radius: 50%;
  background-color:#DAE0E3;
}

.activeImg{
  background-color:#5D41AC;
}

.logo{
  margin-top:30px;
  margin-left:20px;
}
.arrow{
  height: 9px;
  width: 5px;
  margin: auto;
}
.headList{
  width: 1141px;
  float:left;
  margin: 25px 0 0px 28px;
  color:#707B81;
  font-family: Helvetica;
  font-size:20px;
  font-weight: bold;
}
.topButtonDiv{
  width: 1141px;
  display:inline-flex;

}

.topButton{
  width: 127px;
  height: 32px;
  background-color: #EEF2F4;
  color: #AAB5BB;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  margin-left: 25px;
  display: inline-flex;
  padding:  28px 113px 20px 26px;
}
.topButton.active{
  color:#707B81;
  background-color: #FFFFFF;
}
.buttonText{
  font-family: Helvetica;
  font-size: 16px;
}
