.chooseInputs{
    display: flex;
    flex-flow: row;
    background: #DAE0E3;
    width: 100%;
}

.chooseClass{
    display: flex;
    height: 65px;
    width: 250px;
    background: #EEF2F4;
    border-radius: 15px 15px 0 0;
    /* margin: 20px 10px 0 0; */
    margin-top: 20px;;
    text-decoration: none;
}

.chooseClassButton:not(:last-child){
  margin-right: 10px;  
}

.chooseClassButton{
    text-decoration: none;
}

.chooseClass p{
    padding: 30px 0 0 10%;
}

.chooseClass:hover{
    background: #F8FAFB;
}

.activeInput{
    background: #F8FAFB;
}