.rendas-fixas-card {
  padding: 10px 0 10px 0;

  display: flex;

  color: #627179;
}

.rendas-fixas-title {
  width: 40%;
  margin-right: 5px;

  border: 1px solid #dae0e3;
  border-radius: 6px;
}

.title-area {
  width: 100%;

  display: flex;
  justify-content: flex-start;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #4e5b61;
  font-size: 14px;
  font-weight: 400;
}

.info-icon {
  margin-left: 10px;
}

.rendas-fixas-posicao {
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;

  border: 1px solid #dae0e3;
  border-radius: 6px;
}

.content-area > .posicao-content > p {
  color: #38bfa0;
}
/* --------------------- */

.rendas-fixas-vencimento {
  width: 20%;
  margin-left: 5px;

  border: 1px solid #dae0e3;
  border-radius: 6px;
}

.title-area {
  padding-left: 15px;
}

.content-area {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.content {
  width: 50%;
  color: #4e5b61;
}

.classe > h6 {
  color: #4e5b61;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}

.classe > p {
  color: #8a51ba;
  font-size: 16px;
}
