.container {
    margin-top: 10px;
    background: var(--background);
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-white);
    padding: 20px 10px 10px 10px;
    h1 {
        color: var(--grey);
        font-weight: var(--regular);
        font-size: 18px;
    }
}

.form {
    display: flex;
    align-items: center;
    margin-left: auto;

    
    select {
        width: 150px;
        height: 32px;
        border-radius: 10px;
        align-items: center;
        padding: 0 10px;
        border: solid var(--grey-white) 1px;
        outline: none;
        font-size: 15px;
        color: var(--grey);
        font-weight: var(--medium);
    }
  
}

.input {
    display: flex;
    align-items: center;
    margin-left: 17px;
    width: 240px;
    height: 32px;
    border-radius: 10px;
    border: solid var(--grey-white) 1px;
    padding: 0 4px;
    
   

    button {
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        padding-right: 6px;

    }

    input {
        width: 100%;
        height: 100%;
        background: none;
        font-size: 15px;
        color: var(--grey);
        font-weight: var(--medium);
        outline: none;
        border: none;
    }

}


.assets {
    display: flex;
    border-bottom: 1px solid var(--grey-white);
    padding: 20px 10px;
}


.assetType {
    margin: 0 10px 0 10px;
}
.titleName {
    position: relative;
    display: flex;
    border: solid 1px var(--grey-white);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    padding: 9px;
    width: fit-content;
    background: var(--white);

    img {
        margin-left: 20px;
        height: 12px;
        width: 13px;
    }

}
.assetsInfo {
    display: flex;
    border: solid 1px var(--grey-white);
    border-radius: 0 10px 10px 10px;
    padding: 9px;
    margin-top: -1px;

    h2 {
        font-size: 12px;
        font-weight: var(--medium);
        width: 170px;
        
    }
}

.class {
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        padding: 4px 0;
        font-weight: var(--medium);
        color: var(--purple-white);
    }
}
.subtitle {
    font-size: 9px;
    color: var(--grey);
    font-weight: var(--medium);
}

@media (max-width: 1366px) {
    .container {
        margin-top: 10px;
        background: var(--background);
        border-radius: 10px;
        width: max-content;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    }
    
}