main {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
section {
	display: flex;
	width: 100%;
	height: fit-content;
	flex-direction: row;
	justify-content: center;
	flex-direction: column;
}

section h1 {
	color: #4c309b;
	font-size: 2rem;
	line-height: 1.8rem;
	padding: 2.5rem 2.5rem 0.5rem;
}

section img {
	padding: 1rem;
}
