* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;

	font-family: "Montserrat", sans-serif;
	font-size: 10px;

	background-color: #eef2f4;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0;
	list-style: none;
}
