.classAnalysis{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.values{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 65px;
    width: 190px;
    margin: 20px 10px 0 0px;
    color: #707B81;   
}
