@include font-face("Nunito", "fonts/nunito-light", 300, normal, woff, "Nunito");
@include font-face("Nunito", "fonts/nunito-light-italic", 300, italic, woff, "Nunito");
@include font-face("Nunito", "fonts/nunito-regular", 400, normal, woff, "Nunito");
@include font-face("Nunito", "fonts/nunito-regular-italic", 400, italic, woff, "Nunito");
@include font-face("Nunito", "fonts/nunito-black", 700, normal, woff, "Nunito");

html, 
body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

[role='button'] {
    cursor: pointer;
}

#kinvo-landing {
    overflow: hidden;
}
