// ------------------------------------------------
// Color palette
// ------------------------------------------------
$palette-colors: (
    "1": #0DD1E3,
    "1-1": #64DEEA,
    "1-2": #37D7E6,
    "1-3": #01CADD,
    "1-4": #018490,
    "2": #9E51BA,
    "2-1": #DAAEEA,
    "2-2": #BC79D4,
    "2-3": #8634A3,
    "2-4": #741696,
    "3": #FF8152,
    "3-1": #FFBAA0,
    "3-2": #FF9A75,
    "3-3": #EC5F2A,
    "3-4": #BE3F10,
    "4": #ACBE49,
    "4-1": #EEF9B0,
    "4-2": #D5E57C,
    "4-3": #8C9D28,
    "4-4": #63730A,
    "5": #707B81
);

$palette: () !default;

// generate map from palette
@each $key, $value in $palette-colors {
    $concat: "pal-" + $key;
    $map: (
        $concat: $value
    );
    $palette: map-merge($palette, $map);
}
