.containerfixedincomeitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 117px;
  width: 100%;
  background-color: #ffffff;
}

.backgroundlightgray {
  background-color: #f8fafb;
}
