.containernumberselected,
.containernumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 10px #00000008;
  border: 1px solid #edeef0;
  border-radius: 4px;
  background-color: #dce0e3;
  color: #ffffff;
  margin: 0 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.containernumber {
  background-color: #ffffff;
  color: #dce0e3;
}
