.containerposition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 459px;
  height: 77px;
  border: 1px solid #dae0e3;
  border-radius: 10px;
  margin: 0 7px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 7px 0 0 7px;
}

.title p {
  letter-spacing: 0.45px;
  color: #4e5b61;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}

.containerpositioninfo {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.45px;
  color: #4e5b61;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  margin: 0 7px 7px 7px;
}

.number {
  font-size: 16px;
  color: #38bfa0;
  text-transform: uppercase;
}
