.container {
    background: var(--background2);
    width: 100%;
    flex: 1;
    padding: 27px 24px 32px 24px;

    .title {
        font-size: 20px;
        padding-bottom: 24px;
        font-weight: var(--bold);
        color: var(--purple);
    }

    .list {
        display: flex;

    }   
}