.container {
    background: var(--background2);
    margin: 27px 27px 32px 24px;

    .title {
        font-size: 20px;
        padding-bottom: 24px;
        font-weight: var(--bold);
        color: var(--purple);
    }

    .list {
        display: flex;

    }   
}