html, body {
	main[data-js="app"] {
		background-color: #ebeced;
		max-width: 60%;
		margin: 0 auto;
    border-radius: 1em;
    margin-top: 2%;
    font-family: 'sans-serif';
    color: #686868;
	}

  .section {
    max-width: 100%;
    display: flex;
    flex-direction: flex-start;
  }
}
