@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.walletInfoContainer {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.walletInfoContainer div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.text {
  font-size: 8px;
  letter-spacing: 0.45px;
  color: #707b81;
  text-transform: uppercase;
}

.textBold {
  font-weight: bold;
}

.number {
  color: #707b81;
  font-size: 16px;
  font-weight: bold;
}
