@import 'https://code.highcharts.com/css/highcharts.css';

#container {
	height: 400px;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
}

.highcharts-legend .highcharts-point {
    stroke-width: 0;
}


/* Pattern presentational properties */

#gradient-0 stop {
	stop-color: var(--color-orange);

}
#gradient-0 stop[offset="0"] {
	stop-opacity: 1;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}
#gradient-1 stop {
	stop-color: #fff;
}
#gradient-1 stop[offset="0"] {
	stop-opacity: 0;
}
#gradient-1 stop[offset="1"] {
	stop-opacity: 0.25;
}

/* Apply the gradients */
.highcharts-plot-background {
	fill: url(#gradient-1);
}

.highcharts-color-0 {
	fill: var(--color-purple);
    stroke: var(--color-purple);
    stroke-width: 0px;
}

.highcharts-color-0 rect {
	fill: var(--color-purple);
}

.highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-3);
}


#gradient-2 stop {
	stop-color: var(--color-torquoise);
	
}
#gradient-2 stop[offset="0"] {
	stop-opacity: 0.75;
}
#gradient-2 stop[offset="1"] {
	stop-opacity: 0;
}




.highcharts-color-1 {
	fill: var(--color-orange);
    stroke: var(--color-orange);
    stroke-width: 0px;
}

.highcharts-series-1 .highcharts-area {
    fill: url(#gradient-0);
}

.highcharts-color-1 rect {
	fill: var(--color-orange);
}

.highcharts-data-table table {
    border-collapse: collapse;
}


#gradient-3 stop {
	stop-color: var(--color-purple);
}
#gradient-3 stop[offset="0"] {
	stop-opacity: 0.75;
}
#gradient-3 stop[offset="1"] {
	stop-opacity: 0;
}

.highcharts-color-2 {
	fill: var(--color-torquoise);
    stroke: var(--color-tourquoise);
    stroke-width: 0px;
}

.highcharts-color-2 rect {
	fill: var(--color-torquoise);
}

.highcharts-series-2 .highcharts-area {
    fill: url(#gradient-2);
}

text {
	font-family: var(--font-family-primary);
}