.logo{
    max-width: 192px;
    
    
}
@media (max-width: 800px){
    .logo {
        max-width: 105px;
    }
}

.TopMenu{

    top: 0px;
    left: 0px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    opacity: 1;
    max-height: 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}