#about__hero {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    > .container,
    > .container > .row {
        height: 100%;
    }
    .about__hero__layer {
        z-index: 2;
    }
    .about__hero__overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.2);
    }
    .about__hero__scroll {
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 767px) {
    .about__hero__layer__stores {
        margin-top: -60px;
    }
}
