.menu-icon {
    background: var(--color-primary-tint);
}

.menu-icon--enabled {
    background: var(--color-secondary);
}

.table-tab {
    color: tal;
    background: tal;
    margin-right: 10px;
}

.table-tab:not(:last-child) {
    margin-right: 0px;
}

@font-face{
    font-family: 'Helvetica Neue';
    src: url('../assets/Fonts/helvetica-neue.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Helvetica Neue';
    margin: 0;
    padding: 0;
}

.bodyFlex{
    display: flex;
}

header{
    width: 100%;
    height: 90px;
    box-shadow: 0px 0px 24px -16px black;
}

img{
    margin-top: 28px;
    margin-left: 10px;
}

.icones-menu{
    margin-top: 9px;
    margin-left: 9px;
}

.container-menu{
    display: flex;
    border-bottom: 1px solid var(--color-primary-light);
    transition: 0.2s;
    cursor: pointer;
}
.container-menu:hover{
    padding-top: 8px;
    box-shadow: 0px 0px 2px 0px aquamarine;   
}

.seta-menu{
    margin-top: 22px;
    margin-right: 16px;
}

.menu-lateral-disable{
    width: 200px;
    height: 60px;
    display: flex;
    font-size: var(--font-size-small);
    color: var(--color-primary);
    align-items: center;
}

.menu-lateral-enable{
    width: 200px;
    height: 60px;
    display: flex;
    font-size: var(--font-size-small);
    color: var(--color-primary);
    align-items: center;
}

.bordericon{
    margin-left: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--color-primary-light);
}

.bordericon-enable{
    margin-left: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--color-tertiary);
}

aside{
    height: 100vh;
}
section{
    width: 100%;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    padding-left: 16px;
}

h1{
    font-size: var(--font-size-large);
    font-weight: 100;
}

.flex-menu-interno{
    display: flex;
    width: 98%;
}

.menu-interno-enable{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 251px;
    height: 65px;
    text-align: center;
    background-color: #F8FAFB;
    border-radius: 10px 10px 0px 0px;
    padding-left: 14px;
    margin-left: 10px;
    font-size: var(--font-size-medium);
    color: var(--color-primary);
}

.menu-interno-disable{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 251px;
    height: 65px;
    text-align: center;
    background-color: var(--color-primary-shade);
    border-radius: 10px 10px 0px 0px;
    padding-left: 14px;
    margin-left: 10px;
    font-size: var(--font-size-medium);
    color: var(--color-primary);
}

.layout-interno{
    display: flex;
    background-color: #F8FAFB;
    margin-left: 10px;
    width: 97.1%;
    
}

.menu-layout-interno{
    width: 191px;
    height: 90px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-config{
    font-size: var(--font-size-vtiny);
}

.container-interno{    
    background-color: #F8FAFB;
    margin-left: 10px;
    width: 97.1%;
    padding-top: 10px;
}
.container-fundos{
    padding-top: 10px;
    width: 93%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 10px 10px 0px 0px;
}

.container-valores{
    background-color: #F8FAFB;
    margin-left: 10px;
    width: 97.9%;
    height: 100vh;
}

.valores-kinvo{
    padding-top: 10px;
    width: 97%;
    margin-left: 10px;
    padding-left: 20px;
    background-color: #ffffff;
    height: 98vh;
    border-radius: 0px 0px 10px 
}

.search{
    width: 250px;
    height: 36px;
    border-radius: 29px;
    background-color: #EEF2F4;
    transition: 0.2s;
}

.search:hover{
    width: 260px;
}

.lupa{
    margin-left: 9px;
    margin-top: 9px;
}

input{
    border: none;
    width: 210px;
    height: 24px;
    background-color: #EEF2F4;
}

table{
    width: 98%;
    color: var(--color-secondary);
    border-left: 2px solid var(--color-secondary);
    padding-left: 6px;
}