body {
  background-color: #dae0e3 !important; }

ul,
ol,
li {
  list-style: none; }

.navbar {
  height: 90px;
  box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.2);
  z-index: 9999999; }

.databuttons {
  list-style-type: none;
  display: inline-block;
  padding: 0px; }

#container__tab {
  padding: 0px !important; }

.main__title {
  font-size: 18px;
  font-weight: 600;
  color: #555c5f;
  padding-top: 30px;
  padding-bottom: 20px; }

.nav-link {
  display: block;
  padding: 25px !important; }

.nav-link.active {
  background: #f8fafb !important;
  color: #555c5f !important; }

#tab {
  font-size: 14px;
  font-weight: 601;
  width: 268px;
  height: 65px;
  margin-right: 4px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding-top: 20px;
  color: #aab5bb;
  background-color: #eef2f4; }

#item {
  border-bottom: 1px solid #f3f3f3; }

.icon-search {
  position: relative;
  right: 210px;
  opacity: 50%;
  cursor: pointer; }

th {
  color: #5a41a3;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-left: 62px;
  top: 21px; }

#item {
  border-bottom: 1px solid #f3f3f3;
  height: 50px; }

.radius {
  border-radius: 15px; }

.item_name {
  padding: 20px !important; }

td {
  font-size: 14px;
  color: #4c309b;
  font-weight: 600;
  text-align: left;
  padding-left: 62px; }

.head-fundo {
  height: 63px;
  padding-top: 25px;
  margin-bottom: 24px; }

#item--tag {
  width: 6px;
  height: 32px;
  background-color: #4c309b;
  display: inline-block;
  position: relative;
  top: -50px;
  border-radius: 15%; }

.container {
  margin: 0 !important; }

.col-2 {
  padding: 0 !important; }

.nav-icon.active {
  background-color: #4c309b; }

.item_nav.active {
  background: #eef2f4; }

.container {
  max-width: 100% !important; }

.fa.fa-angle-right {
  position: relative;
  bottom: 10px; }

.nav-icon {
  background: #dae0e3;
  padding: 10px;
  border-radius: 50%;
  float: left;
  margin-right: 15px; }

.item_nav {
  color: #707b81;
  font-size: 12px;
  padding: 15px;
  background: white;
  border-block-end: 0.2px solid #f3f3f3;
  width: 100%; }

#search {
  border-radius: 50px;
  background: #eef2f4;
  border: 0px;
  width: 250px;
  height: 30px;
  position: relative;
  left: 33px; }

.form-control {
  padding-top: 0.375rem;
  padding-right: 2.75rem !important;
  padding-bottom: 0.375rem;
  padding-left: 2.75rem !important; }

.fundos {
  font-size: 16px;
  font-weight: 601;
  color: #707b81 !important;
  position: relative;
  top: 2px; }

.databuttons__button {
  background: #fff;
  text-transform: uppercase;
  font-size: 9px;
  display: inline-block;
  height: 75px;
  border-radius: 10px;
  text-align: center;
  width: 209px;
  padding-top: 20px;
  color: #707b81;
  margin-top: 15px; }

.databuttons__button span {
  font-size: 18px;
  font-weight: 700; }
