@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Home */
.home-container{
  display: flex;
}

/* Header */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  color: #707B81;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.151);
}
.header-infos{
  display: flex;
}
.infos-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vw;
}
.header-icon{
  margin-right: 10px;
}
.infos-h2{
  font-size: 8px;
}
.infos-h2-carteira{
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.infos-h1{
  font-size: 16px;
  font-weight: 700;
}
.info-btn{
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #5D41AC;
  margin-right: 10px;
}
.header-icon-btn{
  font-size: 20px;
  border-radius: 100%;
  color: white;
}


/* Lateral */
.lateral-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 17%;
  color: #707B81;
}
.lateral-topic-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1vw;
  border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
}
.lateral-topic-box-Selected{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1vw;
  border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
  background-color: #F8FAFB;
}
.lateral-topic-info{
  display: flex;
  align-items: center;
}
.lateral-topic-icon{
  color: #DAE0E3;
  margin-right: 15px;
}
.lateral-topic-h1{
  font-size: 13px;
  font-weight: 500;
  width: 42%;
}
.lateral-subtopic-h1{
  font-size: 13px;
  font-weight: 500;
}
.lateral-subtopic-dot{
  color: #4C309B;
  margin-right: 10px;
}


/* Infos */
.infos-container{
  width: 83%;
  padding: 2vw  2vw 0 1.5vw;
  background-color: #EEF2F4;
}
.infos-container-h1{
  font-size: 20px;
  font-weight: 700;
  color: #4C309B;
}

.infos-returns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.8vw;
}
.returns-box{
  display: flex;
  background-color: white;
  flex-basis: 12vw;
  border-radius: 10px;
  padding: 1vw;
}
.returns-infos{
  margin-left: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
}
.returns-h2{
  font-size: 9px;
  font-weight: 500;
  color: #4E5B61;
}
.returns-h1{
  font-size: 14px;
  font-weight: 700;
  color: #4C309B;
}

.meus-rendimentos-box{
  width: 100%;
  margin-top: 1.8vw;
  border-radius: 10px;
  background-color: white;
}
.meus-rendimentos-header{
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
}
.meus-rendimentos-header-h1{
  font-size: 18px;
  font-weight: 500;
  color: #627179;
}
.meus-rendimentos-header-forms{
  display: flex;
}
.form-select{
  cursor: pointer;
  width: 10vw;
  font-size: 12px;
  font-weight: 500;
  color: #707B81;
  outline: none;
  border: solid 1px #CACED5;
  padding: 0.5vw;
  border-radius: 10px;
}
.search-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin-left: 1.5vw;
  border: solid 1px #CACED5;
  padding: 0.5vw;
  border-radius: 10px;
}
.search-icon{
  color: #707B81;
  font-size: 1.5rem;
}
.search-body{
  width: 90%;
  border: none;
  outline: none;
}

.meus-produtos-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.meus-produtos-box{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2vw;
  min-height: 135.11px;
  border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
}
.meus-produtos-box-grey{
  display: flex;
  justify-content: space-between;
  background-color: #F8FAFB;
  padding: 2vw;
  border-bottom: solid rgba(128, 128, 128, 0.199) 1px;
}
.meus-produtos-titulo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vw;
  border: solid 1px #CACED5;
  border-radius: 10px;
  width: 34%;
}
.meus-produtos-resultado{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vw;
  border: solid 1px #CACED5;
  border-radius: 10px;
  width: 45%;
}
.meus-produtos-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vw;
  border: solid 1px #CACED5;
  border-radius: 10px;
  width: 18%;
}
.titulo-topo{
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}
.titulo-base{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.meus-produtos-h1{
  font-size: 14px;
  font-weight: 500;
  color: #8A51BA;
}
.meus-produtos-h2{
  font-size: 12px;
  font-weight: 500;
  color: #4E5B61;
  width: 50%;
}
.meus-produtos-h3{
  font-size: 9px;
  font-weight: 500;
  color: #4E5B61;
}
.inform-icon{
  color: #4E5B61;
  margin-left: 1vw;
  cursor: pointer;
}
.meus-produtos-h1-resultados{
  font-size: 16px;
  font-weight: 500;
  color: #38BFA0;
}
.meus-produtos-h1-datas{
  font-size: 16px;
  font-weight: 500;
  color: #008DCB
}

/* Loading */
.loading-gif{
  display: block;
  margin: 0 auto;
}

/* Erro */
.erro-container{
  text-align: center;
  padding-top: 100px;
}
.erro-h1-box{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 25px;
}
.erro-h2{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  margin-bottom: 25px;
}
.erro-p{
  color: #6a6a6a;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}