
  body{
  margin-top: 80px:
  padding:20px;
  background-color:lightgray;
  color: darkgray;
  }

  .grayAreaTitle {
  margin-top: -920px;
  margin-left:185px;
  width: 230px;
  float: left;
  color: black;
  font-family: sans-serif;
  }

  .topNav{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  background-color: white;
  z-index: 10;
  }

  .logo {
  color: purple;
  font-size: 1.5rem;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 2%;
  }

  hr {
  opacity: 0.2;
  }

  .sideNav {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 1000px;
  width: 170px;
  white-space: nowrap;
  background-color: white;
  font-family: sans-serif;
  }

  .sideNav ul {
  list-style: none;
  margin-top: 60px;
  padding:0px;
  position: -webkit-sticky;
  position: sticky;
  }

  .sideNav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color:gray;
  text-decoration: none;
  position: sticky;
  }

  .sideNav ul li a:hover {
  background: lightgray;
  color: blue;
  }

  .tabContainer {
  width: 85%;
  height: 580px;
  float: left;
  margin-top: -890px;
  margin-left:180px;
  background-color: green;
  }

  .tabContainer .buttonContainer{
  height: 25px;
  width:100%;
  background-color: pink;
  }

  .tabContainer .buttonContainer button{
  margin-top: 0px;
  width: 25%;
  height: 30px;
  background-color: lightblue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 25px;
  font-family: sans-serif;
  border-radius: 8px;
  }

  .tabContainer .tabPanel {
  margin-top: 280px;
  height: 470px;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
  display: none;
  }

.dataButtons {
  margin-top: -200px;
}

#dataButtonOne{
  margin: 10px;
  float: left;
  background-color: #4CAF50;
  border: 5px;
  color: white;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}

#dataButtonTwo{
  margin: 10px;
  float: left;
  background-color: #4CAF50;
  border: 5px;
  color: white;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}

#dataButtonThree{
  margin: 10px;
  float: left;
  background-color: #4CAF50;
  border: 5px;
  color: white;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}

#dataButtonFour{
  margin: 10px;
  float: left;
  background-color: #4CAF50;
  border: 5px;
  color: white;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}

#dataButtonFive{
  margin: 10px;
  float: left;
  background-color: #4CAF50;
  border: 5px;
  color: white;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}
