
  body{
  margin-top: 80px:
  padding:20px;
  background-color: #d8dee1;
  color: #717b81;
  font-weight: bold;
  }

  .grayAreaTitle {
  margin-top: -920px;
  margin-left:185px;
  width: 230px;
  float: left;
  color: #717b81;
  font-weight: bold;
  font-family: sans-serif;
  }

  .topNav{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  background-color: #ffffff;
  font-weight: bold;
  z-index: 10;
  }

  .logo {
  color: purple;
  font-size: 1.5rem;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 2%;
  font-weight: bold;
  }

/*sidebar*/
  hr {
  opacity: 0.2;
  }

  .sideNav {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 1000px;
  width: 170px;
  white-space: nowrap;
  background-color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  }

  .sideNav ul {
  list-style: none;
  margin-top: 60px;
  padding:0px;
  position: -webkit-sticky;
  position: sticky;
  }

  .sideNav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color:#717b81;
  text-decoration: none;
  position: sticky;
  }

  .sideNav ul li a:hover {
  background: #eef2f4;
  color: #5e48ac;
  font-weight: bold;
  }

  /*tabs and containers*/

  .tabContainer {
  width: 85%;
  height: 580px;
  float: left;
  margin-top: -890px;
  margin-left:180px;
  background-color: #f8fafb;
  border-radius: 8px;
  }

  .tabContainer .buttonContainer{
  height: 25px;
  width:100%;
  background-color: #dae0e3;
  font-weight: bold;
  }

  .tabContainer .buttonContainer button{
  margin-top: 0px;
  width: 25%;
  height: 30px;
  background-color: #eef2f4;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 25px;
  font-family: sans-serif;
  border-radius: 8px;
  }

  .tabContainer .tabPanel {
  margin-top: 280px;
  height: 470px;
  background-color: #ffffff;
  font-weight: bold;
  color: #5e48ac;
  font-weight: bold;
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
  display: none;
  border-radius: 8px;
  }

/*Buttons*/

.dataButtons {
  margin-top: -200px;
}

#dataButton{
  margin: 10px;
  float: left;
  background-color: #ffffff;
  border: 5px;
  color: #717b81;
  font-weight: bold;
  font-family: sans-serif;
  padding: 5px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  position: static;
}

/*Table*/

#acoes {
  font-size: 18px;
  float:left;
  padding: 10px 10px 10px 10px;
  margin-top: -70px;
  color: #717b81;
  font-weight: bold;
}

#myInput {
  margin-top: -60px;
  margin-right: 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 150px;
  font-size: 16px;
  padding: 6px 10px 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
  float: right;
  border-radius: 15px;
  background-color: #f8fafb;
}

#myTable {
  margin-top:0px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {

  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background: #f8fafb;
  color: #5e48ac;
  font-weight: bold;
}
