*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6, a,p,span, button {
  color: #707B81;
}

.flex-container{
  width: 100%;
  display: flex;
}