:root {
  font-size: 60%;
}

* {
  margin: 10;
  padding: 10;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font: 500 1.6rem Montserrat;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
