<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinvo</title>
    <!--Link do icon da aba-->
    <link rel="shortcut icon" href="../Img/kinvo-_1_.svg" type="image/x-icon" />
    <!--Link do Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../Style/css/bootstrap.min.css">
    <!--Link do css-->
    <link rel="stylesheet" type="text/css" href="../Style/css/main.css">
    <!--Link do Jquery-->
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    

   
</head>

<body>
   
    <!-- Eu utilizei bootsrap e o Jquery para organizar os elementos na tela -->


    <!--Essa "row" esta delimitando a logo do kinvo na parte superior,
    com a class="header para a estilização"-->
    <div class="row">
        <div class="col-12">
            <div class="header">
                <img src="../Img/kinvo.png " >
            </div>
        </div>
    </div>



           
            <div class="row">
                        <div id="col" class="col-2">
                    <!--Aqui está o menu lateral--> 
                            <div class="menu">
                                <ul>
                                  <li><a ><img src="../Img/icons/1.png" ><p>Resumo <br>Da Carteira</p></a></li>
                                  <li><a href="MeusProdutos.html"><img src="../Img/icons/2.png"> <p>Meus  <br>Produtos</p> </a></li>
                                  <li><a ><img src="../Img/icons/3.png"> <p>Meus  <br>Proventos</p></a></li>
                                  <li><a href="Analise.html"><img  id="roxo" src="../Img/icons/4.png"> <p>Análise por <br>Classe de Produto</p></a></li>
                                  <li><a ><img src="../Img/icons/5.png"> <p>Rentabilidade  <br>Real</p></a></li>
                                  <li><a ><img src="../Img/icons/6.png"> <p>Projeção  <br>da Carteira</p></a></li>
                                  <li><a ><img src="../Img/icons/7.png"> <p>Risco <br>x Retorno</p></a></li>
                                  <li><a ><img src="../Img/icons/9.png"> <p>Cobertura  <br>do FGC</p></a></li>
                                </ul>
                            </div>
                        </div> 
                    
                    <!--titulo-->
                        <div class="col-10">
                            <div class="text-part">
                                <div class="titulo">
                                    <h5>Análise por Classe de Ativos</h5>       
                                    </div>
                            </div>
                        <!--eu estou utilizando tanto as div's ajuste e fundo
                             para ajustar as cores de fundo dos elemenots-->    
                            <div class="ajuste">
                                                
                                <div class="row">
                                    <div id="col3" class="col-2">
                                        <img src="../Img/Ações.png" alt="">
                                    </div>
                                    <div id="col2" class="col-2">
                                        <img src="../Img/Exemplo.png" alt="">
                                    </div>
                                    <div id="col2" class="col-2">
                                        <img src="../Img/Exemplo.png" alt="">
                                    </div>
                                    <div id="col2" class="col-2">
                                        <img src="../Img/Exemplo.png" alt="">
                                    </div>
                            </div>
                        </div>

                                            <div class="fundo">
                                                <div class="valores">
                                                    <center>
                                                        <div class="row">
                                                            <div id="col1" class="col-2">
                                                                <img src="../Img/Saldo.png" alt="">
                                                            </div>
                                                            <div id="col1" class="col-2">
                                                                <img src="../Img/Valor.png" alt="">
                                                                
                                                            </div>
                                                            <div id="col1" class="col-2">
                                                                <img src="../Img/Ganho.png" alt="">
                                                            </div>
                                                            <div id="col1" class="col-2">
                                                                <img src="../Img/Total.png" alt="">
                                                            </div>
                                                            <div id="col1" class="col-2">
                                                                <img src="../Img/Yield.png" alt="">
                                                            </div>
                                                        </div>
                                                    </center>
                                                </div>

                                                <!--Utilizei a exportação do adobeXD para a grade e criei a class="Scroll1"
                                                para pode estilizar o fundo da grade junto com as col's e row's.-->
                                                    <div class="col-12">
                                                            <div class="scroll1">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <h4>Fundos</h4>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <img id="search" src="../Img/search.png" alt="">
                                                                    </div>
                                                                    
                                                                    <br><br><br>         
                                                                    <img src="../Img/Grade.png" alt="">     
                                                                </div>   
                                                            </div>            
                                                    </div>
                                                
                                            </div>
                                        </div>            
</div>




    <!--Link para o boostrap e o Jquery-->
    <script src="../Style/js/jquery-3.4.1.min.js"></script>
    <script src="../Style/js/bootstrap.min.js"></script>
</body>


</html>